.modal {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    backdrop-filter: brightness(0.8);
    overflow-y: hidden;
  }
  
  @media (max-width: 1024px) {
    .modal {
      margin-top: 60px !important;
    }
  }
  